*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
}
#nav{
    position: fixed;
    width: 100%;
    /*background-color:red;*/
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 30px 40px;
}
#nav h3{
    background-color:black;
    color: #fff;
    padding: 15px 25px;
    font-size: 22px;
    margin-left: 5px;
    border-radius: 50px;
}
#intro{
    height: 60%;
    width: 100%;
    /*background-color: bisque;*/
    padding: 50px 60px;
}
#intro h1{
    font-size: 145px;
    letter-spacing: -3px;
    line-height: 163px;
}
#place{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#place h3,#place h4{
    font-size: 33px;
    font-weight: 600;

}
#hero-image{
    height: 97%;
    width: 100%;
    background-image: url(https://assets-global.website-files.com/64589fb989b2b33c593db89d/6458a6db645ec6a527000cfa_home-hero-p-2000.webp);
    background-size: cover;
}

#about{
    height: 45%;
    width: 100%;
   /* background-color: rgb(241, 191, 126);*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 60px;
}

#about h2{
    /*background-color: red;*/
    width: 62%;
    font-size: 88px;
    font-weight: 600;
    line-height: 80px;
    letter-spacing: -3px;
}

#about-part2{
    width: 36%;
    height: 100%;
   /* background-color: blue;*/
   padding: 0 60px;
   border-left: 2px solid #000;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}
#about-part2 h3{
    font-size: 33px;
    font-weight: 600;
    
}

#icons{

}
#icons i{
    background-color: #000;
    color: #fff;
    padding: 10px;
    font-size: 27px;
    border-radius: 50px;
    margin-right: 10px;
} 

#work{
    height: 55%;
    width: 100%;
    border-top: 2px solid #000;
    display: flex;
    padding: 50px 60px;
}

#work1{
    width: 30%;
    height: 100%;
    /*background-color: blue;*/
    display: flex;
    padding-right:50px;
    justify-content: space-between;
    border-right: 2px solid #000;
}
#work1 h3{
    font-size: 33px;
}

#work1 i{
    font-size: 30px;
}
#work2{
    height: 100%;
    width: 70%;
   /* background-color: red;*/
   padding: 0 60px;

}

.work2-part{
   /* background-color: red;*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 0;
}

.work2-part:nth-child(1){
    padding-top: 0;
    border-bottom: 2px solid #000;
    
}
.work2-part .elem{
    width: 50%;
    height: 100%;
}


.work2-part .elem:nth-child(1){
    border-right: 2px solid #000;
    padding-right: 50px;
    padding-top: 2px;

}
.work2-part .elem:nth-child(2){
    padding-left: 60px;
}

.work2-part .elem h4{
    font-size: 40px;
    margin-bottom: 2px;
    font-weight: 600;
}

.work2-part .elem p{
    font-size: 18px;
    color: #000;
    font-weight: 400;
}